@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100vh;
}

.ql-editor{
    font-size: 1.05rem;
    height: 100%;
    overflow-y: auto;
}

/* Default light mode placeholder color */
.ql-editor::before {
    color: rgba(0, 0, 0, 0.6); /* default placeholder color */
  }
  
  /* Dark mode placeholder color */
  .dark .ql-editor::before {
    color: rgba(255, 255, 255, 0.804); /* white placeholder color for dark mode */
  }
  
  .post-content p{
    font-size: 1.05rem;
    line-height: 1.6;
    overflow-y: auto;
    height: 100%;
  }
  
  .post-content img{
    max-width: 50%;
    height: 50%;
  }

  .dark .post-content p{
    color: red;
  }